body,
html {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    height: 100%;
    background-color: rgb(221, 221, 221);
}

header {
    background-image: url("img/libro_fondo.jpg");
    color: white;
    height: 100%;
    background-size: cover;

    font-size: 300%;
    background-position: top;
}

header h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 5%;
}

#indice {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
}

#indice a {
    color: white;
    text-decoration: none;
}
#indice a:hover {
    transition: 0.5s;
    color:aquamarine;
    text-decoration: none;
}