body,
html {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    height: 100%;
    background-color: bisque;
}

header {
    background-image: url("img/libro_fondo.jpg");
    color: lightyellow;
    height: 100%;
    background-size: cover;

    font-size: 300%;
    background-position: top;
}

header h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 5%;
}

#indice {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
}

#fondo {
    border-bottom: 5px solid black;
}

#indice a {
    color: lightyellow;
    text-decoration: none;

}

#indice a:hover {
    transition: 0.5s;
    color: darksalmon;
    text-decoration: none;
}

.secciones {
    padding: 0 3%;
    border-bottom: 10px double brown;
    margin: 5% 20%;
    text-align: center;
}

h3,
p {
    margin: 0 2%;
}

figure {
    width: 29%;
    display: inline-block;
    text-align: center;
    margin: 1% 2%;
    vertical-align: top;
}

img {
    width: 100%;
}

/* Tabla */

table,
th,
td {
    border: 2px solid black;
}

td,
tr {
    border: 2px solid black;
}


.grisOscuro {
    background-color: #555;
    color: #ccc;
}

.grisClaro {
    background-color: #ccc;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    background-color: rgb(230, 205, 174);
}

.img_tabla {
    width: 150px;
}


/* formulario */

* {
    box-sizing: border-box;
}

form {
    background-color: rgb(230, 205, 174);
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 10% 200px 10%;
}

fieldset {
    margin: 2%;
    background-color: rgb(241, 230, 208);
    border: 1px solid black;
    border-radius: 10px;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 65%;
    margin: 10px 0;
    border-color: gray;
}

select {
    background-color: lightgrey;
}

label {
    display: inline-block;
    width: 21%;
    margin: 10px 5px;
    align-items: center;
}

textarea {
    height: 100px;
    vertical-align: top;
}

button {
    margin-bottom: 30px;
    align-items: center;
    width: 30%;
    height: 30px;
    margin-left: 15%;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: peru;
    color: white;
    cursor: pointer;
}